<a href="https://colab.research.google.com/github/Oatchanon/Datawh/blob/master/Dw55.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List
How to use list

In [5]:
mylist = []
mylist.append("Oat")
mylist.append(200)
mylist

['Oat', 200]

# if else
how to use

In [76]:
score = 5 
  if score > 50 :
    print("a")
  elif score > 20 :
      print("b")
    else:
      print("c")
      if score == 0:
      print("f")

IndentationError: ignored

In [0]:
# Loop

In [62]:
summation = []
for i in range(0,10):
   sumation.append(i)
for i in sumation :
  print(str(i))

1
1
1
1
1
1
1
1
1
1
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9